{% extends "blog/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {% if not comment %}
                <h3>New Comment</h3>
            {% else %}
                <h3>Edit Comment</h3>
            {% endif %}
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form form layout="inline" %}
                <input type="submit" class="btn btn-primary btn-block" />
            </form>
        </div>
    </div>
{% endblock %}
