{% extends "blog/layout.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ post.title }}
        </div>
        <div class="card-body">
            {{ post.content|linebreaks }}

            {# TODO: URL Reverse #}
            <a href="/blog/{{ post.pk }}/comments/new/" class="btn btn-primary"> New Comment </a>
            <a href="/blog/{{ post.pk }}/edit/" class="btn btn-primary"> Edit </a>
            <a href="/blog/{{ post.pk }}/delete/" class="btn btn-danger"> Delete </a>

            <hr/>

            {% for comment in post.comment_set.all %}
                <div>
                    {{ comment.message }}
                    &dash;
                    <strong>
                        {{ comment.author_name }}
                    </strong>
                    <small>
                        Last updated
                        {{ comment.updated_at|timesince }}
                        ago
                    </small>
                    {# TODO: URL Reverse #}
                    <a href="/blog/{{ post.pk }}/comments/{{ comment.pk }}/edit/">
                        Edit
                    </a>
                    <a href="/blog/{{ post.pk }}/comments/{{ comment.pk }}/delete/">
                        Delete
                    </a>
                </div>
            {% endfor %}

        </div>
        <div class="card-footer">
            <small class="text-muted">
                Last updated
                {{ post.updated_at|timesince }}
                ago
            </small>
        </div>
    </div>


{% endblock %}
