{% extends "blog/layout.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ post.title }}
        </div>
        <div class="card-body">
            {{ post.content|linebreaks }}

            {# TODO: URL Reverse #}
            <a href="/blog/{{ post.pk }}/edit/" class="btn btn-primary"> Edit </a>
            <a href="/blog/{{ post.pk }}/delete/" class="btn btn-danger"> Delete </a>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                Last updated
                {{ post.updated_at|timesince }}
                ago
            </small>
        </div>
    </div>


{% endblock %}
